<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>LAN</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Library</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Token Test 3c requires access to microphone</string>
	<key>NSCameraUsageDescription</key>
	<string>Token Test 3c requires access to camera</string>
</dict>
</plist>
